body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.border-radius-24 {
    border-radius: 24px;
}

.border-radius-16 {
    border-radius: 16px;
}

.text-gray {
    color: #6B7780 !important;
}

.text-dark-blue {
    color: #0919A8 !important;
}

.text-pink {
    color: #FF008A;
}

.text-white {
    color: #ffffff;
}

.bg-gray {
    background-color: #F5F7FD;
}

.bg-pink {
    background-color: #FF008A;
}

.fs-12 {
    font-size: 12px;
    line-height: 16px;
}

.fs-14 {
    font-size: 14px;
    line-height: 20px;
}

.fs-15 {
    font-size: 15px;
    line-height: 20px;
}

.fs-17 {
    font-size: 17px;
    line-height: 24px;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.py-6_px-12 {
    padding: 6px 12px;
}